.main-contents
  .main-contents__header
    .main-contents__header--group-name 
      test

      .main-contents__header--group-name--edit 
        = link_to "Edit", "#", class: "right"

    .main-contents__header--member 
      member: masa

  .main-contents__messages
    .main-contents__messages__info
      .main-contents__messages__info--message-name
        masa
      .main-contents__messages__info--message-time
        2020/2/11(Thr) 12:00:00
    .main-contents__messages--message
      おはよう

  .main-contents__form
    .main-contents__form__message
      .main-contents__form__message--input
        %input{type: "text",class: "me", placeholder: "type a message"}
        .main-contents__form__message--picture
          %label{class: "image"}
            = icon('fas', 'image')
            %input{type: "file"}
    .main-contents__form__message--Send
      = link_to "Send", "#", class: "send"