.side-contents {
  background-color: #253141;
  height: 100%;
  width: 300px;
  font-weight: bold;
  color: #ffffff;
    
  &__header {
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;

    &__box {
      height: 20px;
      width: 240px;
      display: flex;

      &--name {
        width: 180px;
      }

      &--edit {
        width: 60px;
        text-align: right;

        i {
          color: #ffffff;
        }

        .edit {
          text-decoration: none;
        }

        .cog {
          padding: 0px 0px 0px 5px ;
        }
      }
    }
  }

  &__groups {
    color: #ffffff;
    background-color: #2f3e51;
    height: calc(100vh - 100px);

    &--group-name {
      font-size: 15px;
      padding: 20px 20px 5px;
    }

    &--group-message {
      font-size: 11px;
      padding: 0px 20px 40px;
    }
  }
}